html{
    background-image: image-set("images/backIMG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}
#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.567);
    margin-top: 30vh;
    max-width: 80%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}
#controls{
    max-width: 30%;
    margin-right: 100px;
}
#card{
    padding: 30px;
    min-width: 50vh;
    background-color: rgba(32, 32, 32, 0.732);
}
input{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 4px;
    border-color: rgba(32, 32, 32, 0.732);
    padding: 10px;
}