html{
    background-image: image-set("images/backIMG.jpg");
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#timer button{
    border-radius: 5px;
    padding: 10px;
    border-color: rgba(255, 255, 255, 0);
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
}