html{
    background-image: image-set("images/backIMG.jpg");
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}

